#!/usr/bin/perl -w

use strict;
use Debconf::Client::ConfModule qw{version input};
version('2.0');

my @questions = qw( email hostname altname countryname statename
                    localityname organisationname ouname );

# Prompt for SSL configs
my $cfg = { map { $_ => input( 'high', "vyatta-cfg-vpn/$_" ) } @questions };

